<!DOCTYPE html>
<html lang="pt" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
    <link rel="stylesheet" type="text/css" th:href="@{/css/CreateNote.css}">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Criar nova nota</title>
</head>
<body>
    <div class="form-container">
        <h2>Criar nota</h2>
        <form id="form">
            <div class="form-group">
                <label for="title">Título da nota:</label>
                <input type="text" id="title" name="title" required>
            </div>
            <div class="form-group">
                <label for="content">Conteúdo:</label>
                <textarea id="content" name="content" required></textarea>
            </div>
            <div class="form-group">
                <select name="category" id="category">
                    <option value="test">test</option>
                    <option value="create"><a href="">Criar nova categoria</a></option>
                </select>
            </div>
            
            <div class="form-group">
                <button type="submit">Criar nota</button>
            </div>
        </form>
    </div>

    <script type="text/javascript" th:src="@{/js/CreateNote.js}"></script>
</body>
</html>