<!DOCTYPE html>
<html lang="pt" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
    <link rel="stylesheet" type="text/css" th:href="@{/css/CreateNote.css}">
<!--    <link rel="stylesheet" type="text/css" href="../../static/css/EditNote.css">-->
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Editar nota</title>
</head>
<body>
    <nav>
        <ul>
            <li><a th:href="@{http://localhost:8080/home/list}">Home</a></li>
            <li><a th:href="@{http://localhost:8080/home/create/category}">Nova Categoria</a></li>
            <li><a th:href="@{http://localhost:8080/home/create}">Nova Nota</a></li>

        </ul>
    </nav>
    <div class="form-container">
        <h2>Editar nota</h2>
        <form id="form">
            <input hidden name="id" th:field=*{note.id} id="id">
            <div class="form-group">
                <label for="title">Título da nota:</label>
                <input maxlength="13" type="text" id="title" name="title" required th:field=*{note.title}>
            </div>
            <div class="form-group">
                <label for="content">Conteúdo:</label>
                <textarea maxlength="200" id="content" name="content" required th:text="${note.content}"></textarea>
            </div>
            <div class="form-group">
                <select name="category" id="category">
                    <option th:each="categorys: ${category}"
                            th:value="${categorys.categoryName}"
                            th:text="${categorys.categoryName}"></option>
                    <option value="create"><a href="">Criar nova categoria</a></option>
                </select>
            </div>
            
            <div class="form-group">
                <button type="submit">Salvar</button>
            </div>
        </form>
    </div>
    

    <script type="text/javascript" th:src="@{/js/EditNote.js}"></script>
</body>
</html>