<!DOCTYPE html>
<html lang="pt-BR" xmlns="http://www.w3.org/1999/xhtml"
xmlns:th="http://www.thymeleaf.org"
xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
     <link rel="stylesheet" type="text/css" th:href="@{/css/style.css}">
<!--    <link rel="stylesheet" href="../../static/css/style.css">-->
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Exibição de Notas</title>
</head>
<body>
        <nav>
            <ul>
                <li><a th:href="@{http://localhost:8080/home/list}">Home</a></li>
                <li><a th:href="@{http://localhost:8080/home/create/category}">Nova Categoria</a></li>
                <li><a th:href="@{http://localhost:8080/home/create}">Nova Nota</a></li>
                <li><a th:href="@{http://localhost:8080/auth/register}">Registrar</a></li>
                <li><a th:href="@{http://localhost:8080/auth/login}">Logar</a></li>
            </ul>
        </nav>
    <div class="notes-grid">
        <a th:each="note: ${notes}" th:href="@{http://localhost:8080/home/{id}(id=${note.id})}">
            <div class="note">
                <h2 class="note-title" th:text="${note.title}"></h2>
                <div class="note-category">Categoria: <span class="note-category" th:text="${note.noteCategory}"></span></div>
                <p class="note-content" th:text="${note.content}"></p>
            </div>
        </a>
    </div>
</body>
</html>